.slider {
  position: relative;
  width: 100%;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  margin-top: 50px;
}

.slide {
  width: 80%;
  height: 100%;
  object-fit: contain;
}

.text-box .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

.text-box .content.open {
  max-height: 600px;
  opacity: 1;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 65px;
  height: 65px;
  cursor: pointer;
  z-index: 10;
}

.arrow-left {
  left: 20px;
}

.arrow-right {
  right: 20px;
}

.bottom-img
{
  display:block;
  height:auto;
  width:100%;
  overflow: hidden;
  margin-bottom: 300px;
  margin-top: -100px;
}

.bottom-img img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.yyc-image {
  transform: translateX(var(--x)) rotate(var(--rotate)) scale(var(--scale));
  margin-top: var(--top);
}

@media screen and (max-width: 1280px) {
  .yyc-image {
    transform: translateX(calc(var(--x) * 0.2 - 300px)) rotate(var(--rotate)) scale(calc(var(--scale) * 0.9));
    margin-top: calc(var(--top) * 0.7);
  }

}