.left-section {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 550px;
  height: 100vh;
}

.TopBar
{
  margin-top: 44px;
  margin-left: 44px;
}

.BottomBar
{
  display: flex;
  margin-left: 44px;
  margin-bottom: 88px;
  align-items: flex-end;
}

.BottomBar.zh-font p {
  font-family: "HY Jin", serif !important;
  font-size: 19.2px !important;
}
