.middle-section
{
  display: flex;
  flex-direction: column;
  margin-left: 652px;
  white-space: pre-line;
  margin-top: 38px;
}

.Text-Container
{
  min-height: calc(100vh + 280px);
}

.Link
{
  text-decoration: none;
}

.Integer
{
  font-size: 14px;
  font-weight: 700;
}

.preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  margin-left: 70px;
  margin-top: 25px;
}

.preview img {
  max-width: 90%;
  max-height: 100%;
  object-fit: contain;
}