.slider {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 70px;
  margin-bottom: 300px;
}

.slide {
  width: 65%;
  max-width: 1500px;
  height: auto;
  object-fit: contain;
  display: block;
}

.content p {
  font-size: 16.2px;
  line-height: 27.3px;
  /* max-width: 430px;中文的尺寸大小 */
}

.text-box .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

.text-box .content.open {
  max-height: 600px;
  opacity: 1;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 65px;
  height: 65px;
  cursor: pointer;
  z-index: 10;
}

.arrow-left {
  left: 20px;
}

.arrow-right {
  right: 20px;
}
